h1{
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
}

h2{
    font-size: 3.6rem;
   
    margin-bottom: 30px;
    margin-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    align-items: center;
}
p{
    font-size: 1.4rem;
}