@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-lg($justify: center, $align: center, $direction: row,$gap:3rem) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap:$gap
  }