i {
    margin: 1rem;
}

.banner {
    display: flex;
    // gap: 3rem;
    width: 95%;
    height: 40rem;
    margin: 0rem auto;
}



.banner-left-side {
    width: 45%;

    p {
        color: $p-color;
    }

}

.banner-right-side {
    width: 55%;

    figure {

        img {


            width: 100%;

        }
    }
}

.bi-plus {
    color: white;
    font-size: 2.4rem;
}


.add {
    @include flex;
    justify-content: flex-start;
    gap: 1rem;

    .addicon {

        // padding: 3rem 1rem;
        // height: 3rem;
        border-radius: 50%;
        @include flex;
        padding: 1.5rem 0.3rem;
        height: 4.5rem;
        background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    }

    p {
        color: $black;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.bi-truck {
    font-size: 2rem;
}

#support {
    padding: 8rem 0rem;

}

.support {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.card {
    width: calc(100%/4 - 2rem);
    border: none;
    border-radius: 0rem;
    border-right: 1px solid rgb(239, 237, 237);
    text-align: center;

    i {
        font-size: 3.5rem;
    }

    i:hover {
        color: $p-color;
    }
}



#image-gallery {
    .boxes {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "sport sport sneakers-white clock"
            "sportt sportred sportred clock";

        .box {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                transition: filter 0.3s ease-in-out;
            }

            &:hover img {
                filter: brightness(0.7);
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
              
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.9);
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover::before {
                opacity: 0.7;
            }

            .text {
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                font-weight: 700;
                text-align: center;
                font-size: 1.4rem;
                font-family: 'Poppins', sans-serif;
                opacity: 0;
                transition: bottom 0.5s ease, opacity 0.5s ease;
            }

            &:hover .text {
                bottom: 45%;
                opacity: 1;
            }
        }

        .box:nth-child(1) {
            grid-area: sport;
        }

        .box:nth-child(2) {
            grid-area: sneakers-white;
        }

        .box:nth-child(3) {
            grid-area: sportt;
        }

        .box:nth-child(4) {
            grid-area: sportred;
        }

        .box:nth-child(5) {
            grid-area: clock;
        }
    }
}

#our-product {
    margin: 10rem 0rem;

    .container {
        .our-product {
            h2:before {
                content: url(https://preview.colorlib.com/theme/karma/img/product/prev.png);
                margin-right: 1rem;
                opacity: 0.5;

            }

            h2:hover:before {
                opacity: 1;
            }

            h2:after {
                content: url(https://preview.colorlib.com/theme/karma/img/product/next.png);
                margin-left: 1rem;
                opacity: 0.5;
            }

            h2:hover:after {
                opacity: 1;
            }

            &-text {
                max-width: 45%;
                text-align: center;
                @include flex;
                flex-direction: column;
                margin: 0 auto;

                p {
                    color: $p-color;
                }
            }

            &-cards {
                max-width: 100%;
                height: auto;
                margin-top: 5rem;
                @include flex;
                flex-wrap: wrap;
                justify-content: start;
                gap: 2rem;

                .our-product-cards-card {

                    width: calc(100% / 4 - 2rem);

                    figure {
                        width: 100%;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    // width: 18%;
                    p {
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        font-weight: 500;
                    }



                    &-icon {
                        font-size: 1.2rem;
                        color: $icon-color;
                        @include flex-lg(flex-start, flex-start row);
                        gap: 0.3rem;

                        div {
                            padding: 0rem 0.2rem;
                            background-color: $bg-color;
                            border-radius: 50%;
                            @include flex;

                            &:hover {
                                background-image: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
                            }
                        }
                    }
                }
            }
        }
    }
}

#shopnow {
    .container-fluid {
        .shopnow {
            @include flex;
            gap: 6rem;
            // height: 80rem;


            &-leftside {
                color: $text-color-white;
                width: 50%;
                height: 71rem;
                background-image: url(https://preview.colorlib.com/theme/karma/img/exclusive.jpg);
                background-repeat: no-repeat;
                background-size: cover;

                &-bannerr {
                    width: 40rem;
                    text-align: center;
                    flex-direction: column;
                    // margin: 4rem auto;
                    @include flex;
                    margin: 0 auto;
                    padding: 20rem 0rem;
                }

                .support {
                    width: 100%;
                    border-radius: 1rem;
                    padding: 1rem;

                    .shopcard {
                        padding-right: 1rem;

                        &:nth-child(4) {
                            border: none;
                        }

                        .num {
                            font-weight: 600;
                            font-size: 2.5rem;
                        }
                    }
                }
            }

            &-rightside {
                width: 50%;
                padding: 10rem 0rem;
                @include flex;
                background-color: #F9F9FF;
                flex-direction: column;

                figure {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    object-fit: cover;

                    &::before {
                        content: url(https://preview.colorlib.com/theme/karma/img/product/prev.png);
                        opacity: 0.5;
                    }
                    &:hover::before{
                        opacity: 1;
                        transition: all 0.3s;
                    }
                    &::after {

                        content: url(https://preview.colorlib.com/theme/karma/img/product/next.png);
                        opacity: 0.5;
                    }
                    &:hover::after{
                        opacity: 1;
                        transition: all 0.3s;
                    }

                    img {
                        width: 50%;
                        height: 40%;


                    }

                }

                i {
                    color: $text-color-white;
                }
            }
        }
    }
}


#brands {
    padding: 9rem 0rem;

    .container {
        .brands {
            @include flex;
            flex-wrap: wrap;

            figure {
                width: calc(100%/5 - 1rem);
                object-fit: cover;

                img {
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}

#deals {
    padding: 10rem 0rem;

    .container {

        .deals {
            &-header {
                @include flex;
                flex-direction: column;
                max-width: 50rem;
                text-align: center;
                margin: 0 auto;

                p {
                    color: $p-color;
                }
            }

            .clock {
                width: 30%;

                figure {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &-cards {
                display: flex;
                margin-top: 5rem;

                &-all {

                    width: 70%;
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            &-card {
                width: calc(100%/3);
                flex-wrap: wrap;
                display: flex;
                gap: 3rem;

                figure {
                    width: calc(100%/3 - 3rem);
                    height: 100%;
                    object-fit: cover;

                    img {

                        width: 70px;
                        height: 70px;
                    }
                }

                &-text {
                    &-p {

                        font-weight: 500;

                        &:hover {
                            color: $primary;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}
#deals .container .deals-card {
    display: flex;
}

#footer {
    padding: 8rem 0rem;
    background-color: $footer;

    .container {

        .footer {
            display: flex;
            // gap: 2rem;
            width: 100%;
            justify-content: space-between;

            p {
                color: $p-color;
                font-size: 1.4rem !important;
            }

            .about-us {
                width: 30rem;
            }

            .newsletter-input {
                display: flex;
                gap: 0;
            }

            .newsletter {
                width: 30rem;

                input {
                    padding: 0.7rem 0.5rem;
                    width: 83%;

                }

                button {
                    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
                    padding: 0.7rem 0.4rem;
                    border: 1px solid #ffba00;

                }

                i {
                    color: white;
                }
            }

            .insta {
                &-images {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 28.5rem;

                    figure {
                        width: 5.8rem;

                        img {
                            width: 100%;
                        }
                    }

                }

            }

            .follow {
                .sosial-network {
                    i {
                        color: white;
                    }
                }
            }
        }

        p {
            color: $p-color;
            font-size: 1.4rem;
            margin-top: 4rem;
            text-align: center;

            i {
                color: $primary;
            }

            a {
                color: $primary;
            }
        }
    }

}










































@media (max-width:992px) {

    .our-product-cards-card {

        width: calc(100% / 2 - 2rem) !important;

    }

    .banner-right-side {
        figure {
            img {
                display: none;
            }
        }
    }

    .card {
        width: calc(100%/2 - 2rem);
        border: none;
        flex-wrap: wrap;




    }


    h2 {
        font-size: 2.6rem;
    }

    #shopnow .container-fluid .shopnow {
        flex-direction: column;
        gap: 0;

        &-leftside {
            width: 100%;

            .support {
                flex-wrap: nowrap;
            }
        }

        &-rightside {
            width: 100%;
        }
    }

    .clock {
        display: none;
    }

    #deals .container .deals-cards-all {
        width: 100%;
    }

    #footer .container .footer {
        display: flex;
        width: 100%;
        gap: 6rem;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width:756px) {
    #deals .container .deals-card{
        width: 100%;
    }

    #deals .container .deals-card figure{
        width: fit-content;
    }

    .our-product-cards-card {

        width: 100% !important;

    }

    #image-gallery .boxes {
        grid-template-columns: 1fr;
        // grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
        grid-template-areas:
            "sport " "sneakers-white"
            "sportt" "sportred" "clock";
    }

    .banner {
        height: 50rem;
    }

    .our-product-text {
        h2 {
            position: relative;
        }

        h2::after {
            position: absolute;
            top: -25px;
            right: 10px;
        }

        h2::before {
            position: absolute;
            top: -25px;
            left: 10px;
        }
    }

    #footer .container .footer {

        display: block;

        .about-us,
        .newsletter,
        .insta,
        .follow {
            width: 100%;
            margin-top: 3rem;
        }

        .insta-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }

        p {
            text-align: left;
        }

    }

    #brands .container .brands {
        flex-direction: column;
        gap: 3rem;
    }
}

@media (max-width:570px) {


    #shopnow .container-fluid .shopnow-leftside .support {
        width: 63%;
    }

    h1 {
        font-size: 3.5rem;
    }

    .banner-left-side {
        width: 100%;
    }

    .banner-right-side {
        display: none;
    }

    .container {
        width: 100%;
    }

    .card {
        width: 100%;



    }

    #footer .container p {

        text-align: start;
    }

}